.box {
    height: 50px;
    width: 50px;
    background-color: rgb(248,52,52);
    position:absolute;
    top: calc(50% - 25px);
    left: calc(50%);
    transition-property: transform;
    transition-duration:2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    transition: all 2s 0s ease-in-out;
    
}

.slide-right {
    transform:translateX(300px);
}

.slide-left {
    transform:translateX(-300px);
}
.slide-up {
    transform:translateY(-300px)
}
.slide-down {
    transform:translateY(300px);
}
.double-size {
    transform:scale(2);
}
.scale-up {
    transform:scale(3);
}
.scale-down {
    transform:scale(.25);
 }
 .rotate {
    transform:rotate(360deg);
 }
 .opaqueify{
    opacity:0;

 }
 button{
    font-size:18px;
    padding:15px 25px;
    border: 1px solid rgb(41,128,185);
    color: rgb(41,128,185);
    transition: all 0.5s;
 }

 button:hover {
    font-size:100px;
    color:white;
    background-color:rgb(41,128,185);
    border-color:rgb(41,128,185);
    cursor:pointer;
 }